*{box-sizing: border-box;}

img{vertical-align: middle;}

/*Hides image by default*/
.mySlides{display: none;}

/*Slideshow cont.*/
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/*Captions*/
.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100;
    text-align: center;
}

/*Number text*/
.numbertext{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*Dots*/
.dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active{
    background-color: #717171;
}

/*Fade animation*/
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}

/*Decrease element size in lieu of smaller screen size*/
@media only screen and (max-width: 300px){
    .text{font-size: 11px}
}
