/*Styles whole of the HTML body*/
body{
    background-color: rgb(143, 255, 217);
}

/*Styles the header element text*/
h1, h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(124, 18, 222);
}

/*Centers all of the elements on the page*/
#menuBG{
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu{
    width: 600px;
    height: 200px;
}

#totalPrice{
    width: 200px;
    height: 190px;
    margin: 100px auto;
    float: right;
    
}

/*Styles the left class div element center left*/
.left{
    width: 200px;
    height: 200px;
    float: left;
}

/*Styles the right clss div element center right*/
.right{
    width: 200px;
    height: 200px;
    float: right;
}

.center{
    width: 200px;
    height: 200px;
    float: left;
}

#showText{
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart{
    top: 0; margin: 0px auto;
    width: 400px;
    height: 200px;
}

/*Styles place order/submit button*/
#btnOrder{
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
}

.divColor{
    color: rgb(161, 84, 232);
}